@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #e7e7e7;
  color: #a3a2a6; }

.header {
  height: 100vh; }

/* Carousel */
.carousel {
  margin-top: 5rem;
  width: 80vw;
  max-width: 128rem;
  height: 25rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin: 6rem auto; }
  .carousel:hover .controls {
    opacity: 1; }
  .carousel .controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 50;
    transition: all ease 0.5s; }
  .carousel .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all; }

.carousel-container {
  height: 32vh;
  margin: 2rem auto;
  min-width: 100%;
  min-height: 25rem;
  object-fit: cover; }

/* carousel overlay text*/
.carousel-text {
  color: #fff;
  font-size: 4.8rem;
  font-family: Roboto;
  font-weight: 500;
  padding: 1rem;
  position: absolute;
  bottom: 4.5rem;
  width: 100%;
  text-align: center; }

.control {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.5;
  transition: ease 0.3s;
  cursor: pointer; }
  .control:hover {
    opacity: 1; }

.prev::before {
  content: "\003c";
  font-size: 2rem; }

.next::before {
  content: "\003e";
  font-size: 2rem; }

.menu-title {
  text-align: center;
  font-weight: 100;
  margin-top: 5rem;
  font-size: 3.2rem;
  opacity: 0.3;
  text-transform: uppercase;
  padding-bottom: 2rem; }

.project-title {
  text-align: center;
  font-family: Montserrat;
  font-weight: 100;
  margin-top: 100px;
  font-size: 4rem;
  opacity: 0.3;
  text-transform: uppercase; }

.card-container {
  height: 40rem;
  width: 30rem;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  background: #fafafa;
  cursor: pointer;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.3s; }

.card-title {
  position: absolute;
  bottom: 6.5rem;
  width: 100%;
  text-align: center;
  color: #060b26;
  opacity: 0.9;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: normal; }

.btn--add-to-cart {
  position: absolute;
  opacity: 0;
  width: 100%;
  bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #060b26;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  transition: ease-in-out 0.3s; }

.btn--add-to-cart:after {
  content: "";
  position: absolute;
  width: 3rem;
  top: 7px;
  right: 5rem;
  height: 2px;
  opacity: 0.7;
  border-bottom: 1px solid #060b26; }

.btn--add-to-cart:before {
  content: "";
  position: absolute;
  width: 3rem;
  top: 7px;
  left: 5rem;
  height: 2px;
  opacity: 0.7;
  border-bottom: 1px solid #060b26; }

.card-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #060b26; }

.card-container:hover {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.45); }

.card-container:hover .btn--add-to-cart {
  opacity: 0.7; }

.card-image-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  margin: 0 auto; }

.card-image-container > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.5);
  transition: ease-in-out 0.6s;
  opacity: 0.9; }

.cart-btn {
  opacity: 0;
  position: absolute;
  top: 16px;
  padding: 10px;
  left: 20px;
  font-size: 22px;
  color: #a3a2a6;
  transition: ease-in-out 0.3s; }

.card-container:hover .cart-btn {
  opacity: 1; }

.container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-around;
  gap: 2rem; }
  @media only screen and (min-width: 37.5em) {
    .container {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (min-width: 56.25em) {
    .container {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (min-width: 75em) {
    .container {
      grid-template-columns: repeat(4, 1fr); } }

.card-container {
  margin-top: 5rem;
  justify-self: center; }
  @media only screen and (min-width: 37.5em) {
    .card-container {
      margin-top: 0; } }

* {
  box-sizing: border-box; }

body {
  margin: 0px;
  font-family: "segoe ui"; }

.nav {
  z-index: 100;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #060b26;
  justify-content: space-between; }

.nav-header {
  display: inline;
  line-height: 3rem; }

.nav-title {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem; }

.nav-btn {
  display: none; }
  @media (max-width: 600px) {
    .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px; } }

@media (max-width: 600px) {
  label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; } }

@media (max-width: 600px) {
  span {
    display: block;
    width: 2.5rem;
    height: 1rem;
    border-top: 2px solid #fff; } }

.nav-links {
  display: inline;
  float: right;
  font-size: 1.6rem; }
  .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #e7e7e7; }
    @media (max-width: 600px) {
      .nav-links a {
        display: block;
        width: 100%; } }
    .nav-links a:hover {
      background-color: rgba(0, 0, 0, 0.3); }
  @media (max-width: 600px) {
    .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #060b26;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px; } }

#nav-check {
  display: none; }

@media (max-width: 600px) {
  #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

footer p {
  padding: 4rem 0;
  text-align: center;
  font-size: 2rem;
  color: #060b26;
  margin-top: 20rem; }
